@model SFA.DAS.PSRService.Domain.Entities.Section
@{
    ViewBag.GaData.Vpv = "/public-sector-reporting/report/question/page-challenges";
}

<div class="govuk-grid-column-full">
    <h1 class="govuk-heading-l">
        @Model.SummaryText
    </h1>



        <div class="govuk-form-group">

            <textarea class="govuk-input govuk-!-width-three-quarters" name="textarea" id="textarea" rows="8"></textarea>
        </div>

</div>