@model SFA.DAS.PSRService.Domain.Entities.Section

@{
    var questionList = Model.SubSections.SelectMany(w => w.Questions).ToDictionary(k => k.Id);
}
<h2 class="heading-small">Factors that impacted your ability to meet the target</h2>
<table class="">
    <thead>
        <tr>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>

        <tr>
            <td>Outline any actions you have taken to help you progress towards meeting the public sector target</td>
            <td class="" style="font-weight:700; font-size:16px; ">@questionList["OutlineActions"].Answer</td>
            <td> <a href="../Question/@questionList["OutlineActions"].Id">Change</a></td>
        </tr>
        <tr>
            <td style="width:135px">Tell us about any challenges you have faced in meeting the target</td>
            <td class="" style="font-weight:700; font-size:16px; ">@questionList["Challenges"].Answer</td>
            <td> <a href="../Question/@questionList["Challenges"].Id">Change</a></td>
        </tr>
        <tr>
            <td style="width:135px">What are you plans for meeting the target in future, and what impact do you expect these to have?</td>
            <td class="" style="font-weight:700; font-size:16px; ">@questionList["TargetPlans"].Answer</td>
            <td> <a href="../Question/@questionList["TargetPlans"].Id">Change</a></td>
        </tr>
        <tr>
            <td style="width:135px">Do you have anything else you want to tell us? <br><br>For Local Authorities this could include commenting on how schools and fire services in your control have contributed to the target</td>
            <td class="" style="font-weight:700; font-size:16px; ">@questionList["AnythingElse"].Answer</td>
            <td> <a href="../Question/@questionList["AnythingElse"].Id">Change</a></td>
        </tr>
    </tbody>
</table>