@model SFA.DAS.PSRService.Domain.Entities.Section

@{
    ViewBag.GaData.Vpv = "/public-sector-reporting/report/question/page-fulltime-equivalent";
    var questionList = Model.Questions.ToDictionary(k => k.Id);
    var canBeEdited = ViewBag.CanBeEdited;
}

<div class="form-group">
    <table>
        <caption class="heading-medium">Full Time Equivalent</caption>
        <tbody>
            <tr>
                <td>Full-time equivalents (optional)</td>
                <td class="numeric bold js-addcommas">@questionList["atStart"].Answer</td>
                    @if (canBeEdited)
                    {
                    <td class="link-right">
                        <a asp-controller="Question" asp-action="Index" asp-route-hashedEmployerAccountId="@ViewData[RouteValues.HashedEmployerAccountId]" asp-route-id="@Model.Id">Change</a>
                    </td>
                    }
            </tr>
        </tbody>
    </table>
</div>