@model SFA.DAS.PSRService.Domain.Entities.Section

@{

    var questionList = Model.Questions.ToDictionary(k => k.Id);
}

<div class="form-group">
    <table>
        <caption class="heading-small">Full Time Equivalent</caption>
        <tbody>
            <tr>
                <td>Full-time equivalents (optional)</td>
                <td class="numeric bold-xsmall">@questionList["atStart"].Answer</td>
                <td class="link-right"> <a href="../Question/@Model.Id">Change</a></td>
            </tr>
        </tbody>
    </table>
</div>