@model SFA.DAS.PSRService.Domain.Entities.Section

@{

    var questionList = Model.Questions.ToDictionary(k => k.Id);
    var canBeEdited = ViewBag.CanBeEdited;
}

<div class="form-group">
    <table>
        <caption class="heading-small">Full Time Equivalent</caption>
        <tbody>
            <tr>
                <td>Full-time equivalents (optional)</td>
                <td class="numeric bold-xsmall">@questionList["atStart"].Answer</td>
                <td class="link-right">
                    @if (canBeEdited)
                    {
                        <a asp-controller="Question" asp-action="Index" asp-route-id="@Model.Id">Change</a>
                    }
                </td>
            </tr>
        </tbody>
    </table>
</div>