@model SFA.DAS.PSRService.Web.ViewModels.OrganisationReviewViewModel

@{
    ViewData["Title"] = "Your organisation";
    var canBeEdited = ViewBag.CanBeEdited;
    ViewBag.GaData.Vpv = "/public-sector-reporting/report/question/page-your-organisation";
    ViewBag.ZenDeskLabel = "reporting-your-organsation";
}

<div class="govuk-form-group">
    <table class="govuk-table">
        <caption class="govuk-table__caption govuk-table__caption--m">Organisation</caption>
        <tbody class="govuk-table__body">
            @if (Model.IsLocalAuthority.HasValue)
            {
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Is your organisation a local authority</td>
                    @if (Model.IsLocalAuthority.Value)
                    {
                            <td class="govuk-table__cell govuk-!-font-weight-bold">Yes</td>
                    }
                    else
                    {
                            <td class="govuk-table__cell govuk-!-font-weight-bold">No</td>
                    }
                    @if (canBeEdited)
                    {
                            <td class="govuk-table__cell govuk-table__cell--numeric">
                                <a asp-controller="Report" asp-action="IsLocalAuthority">Change</a>
                            </td>
                    }
                </tr>
            }
        <tr class="govuk-table__row">
            <td class="govuk-table__cell">Organisation Name</td>
            <td class="govuk-table__cell govuk-!-font-weight-bold">@Model.OrganisationName</td>
                @if (canBeEdited)
                {
                    <td class="govuk-table__cell govuk-table__cell--numeric">
                        <a asp-controller="Report" asp-action="OrganisationName">Change</a>
                    </td>
                }
        </tr>
            @if (Model.IsLocalAuthority.HasValue)
            {
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Total number of employees</td>

                    @if (!Model.HasMinimumEmployeeHeadcount.HasValue)
                    {
                            <td class="govuk-table__cell govuk-!-font-weight-bold"></td>
                    }
                    else if (Model.HasMinimumEmployeeHeadcount.Value)
                    {
                            <td class="govuk-table__cell govuk-!-font-weight-bold">More than 250</td>
                    }
                    else
                    {
                            <td class="govuk-table__cell govuk-!-font-weight-bold"></td>
                    }
                    @if (canBeEdited)
                    {
                            <td class="govuk-table__cell govuk-table__cell--numeric">
                                <a asp-controller="Report" asp-action="TotalEmployees">Change</a>
                            </td>
                    }
                </tr>
            }
        </tbody>
    </table>
</div>

