@model string

@{
    ViewData["Title"] = "Public sector reporting";
}

<div class="form-group">
    <table>
        <caption class="heading-small">Organisation</caption>
        <tbody>
            <tr>
                <td>Organisation Name</td>
                <td>@Model &nbsp;</td>
                <td class="link-right"><a href="#">Change</a></td>
            </tr>
        </tbody>
    </table>
</div>