@model string

@{
    ViewData["Title"] = "Your organisation";
    var canBeEdited = ViewBag.CanBeEdited;
}

<div class="form-group">
    <table>
        <caption class="heading-small">Organisation</caption>
        <tbody>
            <tr>
                <td>Organisation Name</td>
                <td class="numeric bold-xsmall">@Model</td>
                <td class="link-right">
                    @if (canBeEdited)
                    {
                        <a href="../Report/OrganisationName">Change</a>
                    }
                </td>
            </tr>
        </tbody>
    </table>
</div>