@model string

@{
    ViewData["Title"] = "Your organisation";
    var canBeEdited = ViewBag.CanBeEdited;
}

<div class="form-group">
    <table>
        <caption class="heading-medium">Organisation</caption>
        <tbody>
            <tr>
                <td>Organisation Name</td>
                <td class="bold-xsmall">@Model</td>
                    @if (canBeEdited)
                    {
                    <td class="link-right">
                        <a asp-controller="Report" asp-action="OrganisationName">Change</a>
                    </td>
                    }
            </tr>
        </tbody>
    </table>
</div>