@{
    ViewBag.GaData.Vpv = "/public-sector-reporting/report/question/page-outline-actions";
    ViewBag.ZenDeskLabel = "reporting-what-actions-have you-taken";
}
<div class="column-full">
    <h1 class="heading-large">
        What actions have you taken this year to meet the target? How do these compare to the actions taken in the previous year?
    </h1>

    <fieldset>
        <div class="form-group">
            <textarea class="form-control form-control-3-4" name="textarea" id="textarea" rows="8"></textarea>
        </div>
    </fieldset>
</div>