@model SFA.DAS.PSRService.Web.ViewModels.ReportingPercentages



<div class="form-group">
    <table>
        <caption class="heading-small">Reporting percentages</caption>
        <p>We have computed the percentages that will be reported from the figures you have given</p>
        <tbody>
        <tr>
            <td>Percentage of employment starts that were apprenticeships between 1 April 2017 and 31 March 2018</td>
            <td class="numeric bold-xsmall">@Model.EmploymentStarts.ToString("0.00")%</td>
            <td class="link-right">
              
            </td>
        </tr>
        <tr>
            <td>Percentage of total headcount that were apprenticeships on 31 March 2018</td>
            <td class="numeric bold-xsmall">@Model.TotalHeadCount.ToString("0.00")%</td>
            <td class="link-right">
               
            </td>
        </tr>
        <tr>
            <td>Percentage of total headcount who were apprenticeship starts between 1 April 2017 and 31 March 2018 (The target)</td>
            <td class="numeric bold-xsmall">@Model.NewThisPeriod.ToString("0.00")%</td>
            <td class="link-right">
               
            </td>
        </tr>
        </tbody>
    </table>
</div>