@using SFA.DAS.PSRService.Domain.Enums
@model SFA.DAS.PSRService.Domain.Entities.Section

@{
    ViewData["Title"] = "Public sector reporting";
}


<h2 class="heading-small">Number of apprentices who work in England</h2>

@Html.Partial("CompletionStatus", Model.CompletionStatus)

<table class="">
    <thead>
        <tr>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>


        <tr>
            <td style="">Number of employees who were working in England<br>on 31 March 2017</td>
            <td class="numeric" style="font-weight:700; font-size:16px;">50,001</td>
            <td class="looks-like-a-link-underline">Change</td>
        </tr>
        <tr>
            <td>Number of employees who were working in England<br>on 31 March 2018</td>
            <td class="numeric" style="font-weight:700; font-size:16px">50,002</td>
            <td class="looks-like-a-link-underline">Change</td>
        </tr>
        <tr>
            <td style="width:445px">Number of new employees who started working for you in England between 1 April 2017 and 31 March 2018</td>
            <td class="numeric" style="width:50px; font-weight:700; font-size:16px; ">1</td>
            <td class="looks-like-a-link-underline" style="">Change</td>
        </tr>
    </tbody>
</table>