@model EmployerIdentifier

@{
    ViewBag.Title = "title";
    Layout = "_LayoutNoMenu";
}

<div class="grid-row">
    <div class="column-two-thirds">
        <h1 class="heading-xlarge">Access Denied</h1>
    </div>
</div>