<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AutoMapper" version="9.0.0" targetFramework="net462" />
  <package id="BrowserStackLocal" version="1.3.0.0" targetFramework="net461" />
  <package id="Dapper" version="1.50.5" targetFramework="net461" />
  <package id="DapperExtensions" version="1.6.3" targetFramework="net461" />
  <package id="DotNetSeleniumExtras.PageObjects" version="3.11.0" targetFramework="net461" />
  <package id="DotNetSeleniumExtras.WaitHelpers" version="3.11.0" targetFramework="net461" />
  <package id="Dynamitey" version="2.0.9.136" targetFramework="net461" />
  <package id="FluentAssertions" version="5.4.1" targetFramework="net462" />
  <package id="ImpromptuInterface" version="6.2.2" targetFramework="net461" />
  <package id="MediatR" version="4.0.1" targetFramework="net461" />
  <package id="Microsoft.Azure.KeyVault.Core" version="1.0.0" targetFramework="net461" />
  <package id="Microsoft.Data.Edm" version="5.8.2" targetFramework="net461" />
  <package id="Microsoft.Data.OData" version="5.8.2" targetFramework="net461" />
  <package id="Microsoft.Data.Services.Client" version="5.8.2" targetFramework="net461" />
  <package id="NBuilder" version="5.0.0" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net461" />
  <package id="NUnit" version="3.10.1" targetFramework="net461" />
  <package id="Selenium.Support" version="3.12.1" targetFramework="net461" />
  <package id="Selenium.WebDriver" version="3.12.1" targetFramework="net461" />
  <package id="Selenium.WebDriver.ChromeDriver" version="2.39.0" targetFramework="net461" />
  <package id="Selenium.WebDriver.GeckoDriver" version="0.20.1" targetFramework="net461" />
  <package id="Selenium.WebDriver.GeckoDriver.Win32" version="0.20.1" targetFramework="net461" />
  <package id="Selenium.WebDriver.GeckoDriver.Win64" version="0.20.1" targetFramework="net461" />
  <package id="Selenium.WebDriver.IEDriver" version="3.12.0" targetFramework="net461" />
  <package id="Selenium.WebDriver.PhantomJS" version="1.0.0.0" targetFramework="net461" />
  <package id="SFA.DAS.Configuration" version="1.0.0.53229" targetFramework="net461" />
  <package id="SFA.DAS.Configuration.AzureTableStorage" version="1.0.0.53229" targetFramework="net461" />
  <package id="SpecFlow" version="2.3.2" targetFramework="net461" />
  <package id="SpecFlow.Assist.Dynamic" version="1.3.1" targetFramework="net461" />
  <package id="SpecFlow.NUnit" version="2.3.2" targetFramework="net461" />
  <package id="SpecRun.NUnit" version="1.7.0" targetFramework="net461" />
  <package id="SpecRun.Runner" version="1.7.0" targetFramework="net461" />
  <package id="StructureMap" version="4.6.1" targetFramework="net461" />
  <package id="System.ComponentModel.EventBasedAsync" version="4.0.11" targetFramework="net461" />
  <package id="System.Dynamic.Runtime" version="4.0.0" targetFramework="net461" />
  <package id="System.Linq.Queryable" version="4.0.0" targetFramework="net461" />
  <package id="System.Net.Requests" version="4.0.11" targetFramework="net461" />
  <package id="System.Reflection.Emit.Lightweight" version="4.3.0" targetFramework="net461" />
  <package id="System.Spatial" version="5.8.2" targetFramework="net461" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net461" />
  <package id="WindowsAzure.Storage" version="9.3.1" targetFramework="net461" />
</packages>