@model string

@{
    ViewData["Title"] = "Public sector reporting";
}

<div class="grid-row">
    <div class="column-two-thirds">
        <h1 class="heading-xlarge">Annual apprenticeship return</h1>

        <p>You can submit a new report for the year 1 April 2017 to 31 March 2018 or review previously submitted reports.</p>
        
        <h2 class="heading-medium">What do you want to do?</h2>

        <form action="">
            <label class="form-label-bold" for="">What do you want to do?</label>


            <input id="source" name="source" type="hidden" value="employer">
            <fieldset>
                <legend class="visuallyhidden">No, I want to find new training and providers</legend>
                <div class="multiple-choice">
                    <input id="radio-1" type="radio" name="radio-group" value="yes">
                    <label for="radio-1">Create a new report</label>
                </div>

                <div class="multiple-choice">
                    <input id="radio-4" type="radio" name="radio-group" value="no">
                    <label for="radio-4">View a previously submitted report</label>
                </div>
            </fieldset>

            <input class="button" id="saveAndContinue" type="submit" style="margin-top:30px" value="Continue">
        </form>

        </div>
</div>
