@model EmployerIdentifier

@{
    ViewBag.Title = "title";
    ViewBag.GaData.Vpv = "/public-sector-reporting/page-protected-home";
    Layout = "_Layout";
}

@Model.AccountId  @Model.EmployerName

<h2 class="govuk-heading-m">This is a protected page</h2>
