@model object

@{

    ViewBag.Title = $"Current report already submitted";

    Layout = "_Layout";
}

<div class="column-two-thirds">

    <a class="link-back" asp-controller="Home" asp-action="Index">Back</a>

    <h1 class="heading-large">Report submitted</h1>

    <p>The report for the year 1 April @ViewBag.CurrentPeriod.StartYear to 31 March @ViewBag.CurrentPeriod.EndYear has already been submitted.</p>

</div>
