@model SFA.DAS.PSRService.Web.ViewModels.ReportViewModel

@{
    ViewBag.Title = "Confirm submission";
    Layout = "_Layout";
    ViewBag.CanBeEdited = Model.CanBeEdited;
    ViewBag.GaData.Vpv = "/public-sector-reporting/report/page-confirm";
    ViewBag.ZenDeskLabel = "reporting-have-you-checked-everything";
}

@section breadcrumb {
    @if (!Model.Report.Submitted)
    {
        <a class="govuk-back-link" asp-controller="Report" asp-action="Summary">Back</a>
    }
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl">Have you checked everything is correct?</h1>
        <form asp-controller="Report" asp-action="Submit">
            <div class="govuk-button-group">
                <input id="report-confirm-submit" class="govuk-button" type="Submit" value="Submit your report">
                <a id="report-confirm-return" class="govuk-link" asp-controller="Report" asp-action="Summary">Return to your report</a>
            </div>
        </form>
    </div>
</div>