@model SFA.DAS.PSRService.Web.ViewModels.ReportViewModel

@{
    ViewBag.Title = "Confirm submission";
    Layout = "_Layout";
    ViewBag.CanBeEdited = Model.CanBeEdited;
    ViewBag.GaData.Vpv = "report/page-confirm";
    ViewBag.ZenDeskLabel = "reporting-have-you-checked-everything";
}

<div class="grid-row">
    <div class="column-two-thirds">
        @if (!Model.Report.Submitted)
        {
            <a class="link-back" asp-controller="Report" asp-action="Summary">Back</a>
        }
        <h1 class="heading-xlarge">Have you checked everything is correct?</h1>
        <form asp-controller="Report" asp-action="Submit">
            <div class="form-group">
                <input id="report-confirm-submit" class="button" type="Submit" value="Submit your report">
                <a id="report-confirm-return" class="button text-link" asp-controller="Report" asp-action="Summary">Return to your report</a>
            </div>
        </form>
    </div>
</div>