@model SFA.DAS.PSRService.Web.ViewModels.DataLossWarningViewModel
@{
    ViewBag.GaData.Vpv = "/public-sector-reporting/report/sections/page-datalosswarning";
}

<a class="link-back" asp-controller="Report" asp-action="IsLocalAuthority" asp-route-id="@Model.IsLocalAuthority">Back</a>
<div class="grid-row">
    <div class="column-two-thirds">
        <h1 class="heading-medium">Do you want to change your answer</h1>
        <div class="notice">
            <i class="icon icon-important">
                <span class="visually-hidden">Warning</span>
            </i>
            <strong class="bold-small">
                If you change your answer,your data will be lost
            </strong>
        </div>
        <form method="post" asp-action="DataLossWarning">
            <div class="form-group  @(ViewData.ModelState.IsValid ? "":"form-group-error")">
                <fieldset class="inline">
                    <legend>
                        <p class="body-text">
                            Do you wish to continue?
                        </p>
                    </legend>
                    @if (!ViewData.ModelState.IsValid && ViewData.ModelState.ContainsKey("confirm-yes"))
                    {
                        <p id="confirm-error" class="error-message">
                            <span class="visually-hidden">Error:</span> @ViewData.ModelState["confirm-yes"].Errors.First().ErrorMessage
                        </p>
                    }
                    <div class="multiple-choice">
                        <input id="datalosswarning-action-yes" type="radio" name="ConfirmIsLocalAuthority" value="true">
                        <label for="datalosswarning-action-yes">Yes</label>
                    </div>
                    <div class="multiple-choice">
                        <input id="datalosswarning-action-no" type="radio" name="ConfirmIsLocalAuthority" value="false">
                        <label for="datalosswarning-action-no">No</label>
                    </div>
                </fieldset>
            </div>
            <div class="form-group">
                <input type="hidden" asp-for="IsLocalAuthority" value="@Model.IsLocalAuthority">
                <input id="SubmitSelectOptionForm" class="button" type="submit" value="Continue and save">
            </div>
        </form>
        <a class="button" asp-controller="Report" asp-action="Edit">Cancel</a>
    </div>
</div>
