@model SFA.DAS.PSRService.Web.ViewModels.DataLossWarningViewModel
@{
    ViewBag.GaData.Vpv = "/public-sector-reporting/report/sections/page-datalosswarning";
}

<a class="govuk-back-link" asp-controller="Report" asp-action="IsLocalAuthority" asp-route-confirmIsLocalAuthority="@Model.IsLocalAuthority">Back</a>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-m">Do you want to change your answer</h1>
        <div class="govuk-warning-text">
            <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
            <strong class="govuk-warning-text__text">
                <span class="govuk-warning-text__assistive">Warning</span>
                If you change your answer, your data will be lost
            </strong>
        </div>
        <form method="post" asp-action="DataLossWarning">
            <div class="govuk-form-group @(ViewData.ModelState.IsValid ? "":"govuk-form-group--error")">
                <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend">
                        Do you wish to continue?
                    </legend>
                    @if (!ViewData.ModelState.IsValid && ViewData.ModelState.ContainsKey("confirm-yes"))
                    {
                        <p id="confirm-error" class="govuk-error-message">
                            <span class="govuk-visually-hidden">Error:</span> @ViewData.ModelState["confirm-yes"].Errors.First().ErrorMessage
                        </p>
                    }
                    <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="datalosswarning-action-yes" type="radio" name="ConfirmIsLocalAuthority" value="true">
                            <label class="govuk-label govuk-radios__label" for="datalosswarning-action-yes">Yes</label>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="datalosswarning-action-no" type="radio" name="ConfirmIsLocalAuthority" value="false">
                            <label class="govuk-label govuk-radios__label" for="datalosswarning-action-no">No</label>
                        </div>
                    </div>
                </fieldset>
            </div>
            <div class="govuk-button-group">
                <input type="hidden" asp-for="IsLocalAuthority" value="@Model.IsLocalAuthority">
                <input id="SubmitSelectOptionForm" class="govuk-button" type="submit" value="Continue and save">
                <a class="govuk-button govuk-button--secondary" asp-controller="Report" asp-action="Edit">Cancel</a>
            </div>
        </form>
    </div>
</div>
