@model SFA.DAS.PSRService.Web.ViewModels.ReportViewModel

@{
    ViewBag.Title = "Reporting your progress";
    Layout = "_Layout";
}
<div class="grid-row">
    <div class="column-two-thirds">
        <a class="link-back" asp-controller="Home" asp-action="Index">Back</a>
        <h1 class="heading-xlarge">Reporting your progress towards the public sector apprenticeship target</h1>
        <p>Use this step by step list to help you report your progress towards meeting the public sector apprenticeship target:</p>

        <ol class="task-list">
            @Html.Partial("Sections/OrganisationName", Model)

            @if (Model.Report.Sections != null)
            {
                foreach (var sectionItem in Model.Report.Sections)
                {
                    @Html.Partial("Sections/" + sectionItem.Id, sectionItem)
                }
            }

            @Html.Partial("Sections/Review", Model)
            @Html.Partial("Sections/History")
        </ol>
    </div>
</div>
