@model SFA.DAS.PSRService.Web.ViewModels.ReportViewModel

@{
    ViewBag.Title = "Edit complete";
    Layout = "_Layout";
}

<div class="grid-row">
    <div class="column-two-thirds">
        <a class="link-back" asp-controller="Report" asp-action="Summary">Back</a>
        
        <h1 class="heading-xlarge">Edit complete</h1>
        
        <a class="button text-link" asp-controller="Report" asp-action="Summary">Return to your report</a>
    </div>
</div>