@model SFA.DAS.PSRService.Web.ViewModels.ReportViewModel

@{
    ViewBag.Title = "Edit complete";
    Layout = "_Layout";
}

<div class="grid-row">
    <div class="column-two-thirds">
        <div class="govuk-box-highlight">
            <h1 class="heading-xlarge">Report not yet submitted</h1>
        </div>
        <p>You do not have the admin rights needed to submit this report.</p>
        <p>Someone with admin rights to submit this report needs to submit the report before the deadline.</p>
    </div>
</div>