@model SFA.DAS.PSRService.Web.ViewModels.ReportViewModel

@{
    ViewBag.Title = "Edit complete";
    Layout = "_Layout";
    ViewBag.GaData.Vpv = "report/page-edit-complete";
}

<div class="grid-row">
    <div class="column-two-thirds">
        <div class="govuk-box-highlight">
            <h1 class="heading-xlarge">Report not submitted yet</h1>
        </div>
        <p>Your level of account permissions only allows you to view and edit reports.</p>
        <p>Contact your account owner to find out who can submit reports.</p>
    </div>
</div>