@model SFA.DAS.PSRService.Web.ViewModels.ReportViewModel

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}
<main id="content" role="main">
    <h2>Reporting your progress towards the Public Sector Apprenticeship Target</h2>
    <ol class = "task-list">
        <li>
            <h2 class="heading-large">
                 Organisation name
            </h2>

            <ul class="task-list-items">
                <li class="task-list-item">
                    <a class="" href="#" aria-describedby="eligibility-completed">
                        Your organisation’s name
                    </a>
                </li>
            </ul>

        </li>
        @if (Model.Report.Sections != null)
        {
            foreach (var sectionItem in Model.Report.Sections)
            {
                

                        @Html.Partial("Sections/" + sectionItem.Id, sectionItem)
                   
            }
        }
    </ol>
<button type="submit">REVIEW AND SUBMIT ></button>
</main>
