@model SFA.DAS.PSRService.Web.ViewModels.ReportViewModel

@{
    ViewBag.Title = "Reporting your progress";
    Layout = "_Layout";
    ViewBag.GaData.Vpv = "/public-sector-reporting/report/page-edit";
    ViewBag.ZenDeskLabel = "reporting-progress-towards-target";
}
<a class="link-back" asp-controller="Home" asp-action="Index">Back</a>

<div class="grid-row">
    <div class="column-two-thirds">
        <h1 class="heading-xlarge">Reporting your progress towards the public sector apprenticeship target</h1>
    </div>
</div>
<div class="grid-row">
    <div class="column-two-thirds">
        <p>Use this step by step list to help you report your progress towards meeting the public sector apprenticeship target:</p>

        @if (Model.Report.IsLocalAuthority.HasValue)
        {
            <div class="notice">
                <i class="icon icon-important">
                    <span class="visually-hidden">Warning</span>
                </i>
                <strong class="bold-small">
                    You do not need to fill out this form if your organisation has less than 250 employees.
                </strong>
            </div>
        }
        <ol class="task-list">
            @Html.Partial("Sections/OrganisationName", Model)

            @if (Model.Report.Sections != null)
            {
                foreach (var sectionItem in Model.Report.Sections)
                {
                    @Html.Partial("Sections/" + sectionItem.Id, sectionItem)
                }
            }

            @Html.Partial("Sections/Review", Model)

        </ol>
    </div>
    <div class="column-one-third">
        @Html.Partial("Sections/History")
    </div>
</div>
