@model SFA.DAS.PSRService.Web.ViewModels.ReportViewModel

@{
    ViewBag.Title = "Reporting your progress";
    Layout = "_Layout";
    ViewBag.GaData.Vpv = "/public-sector-reporting/report/page-edit";
    ViewBag.ZenDeskLabel = "reporting-progress-towards-target";
}

@if (Model.Report.IsLocalAuthority.HasValue)
{
    <a class="govuk-back-link" asp-controller="Report" asp-action="IsLocalAuthority">Back</a>
}
else
{
    <a class="govuk-back-link" asp-controller="Home" asp-action="Index">Back</a>
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Reporting your progress towards the public sector apprenticeship target</h1>
    </div>
</div>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <p>Use this step by step list to help you report your progress towards meeting the public sector apprenticeship target:</p>

        @if (Model.Report.IsLocalAuthority.HasValue)
        {
            <div class="govuk-warning-text">
                <span class="govuk-warning-text__icon" aria-hidden="true">!</span>

                <strong class="govuk-warning-text__text">
                    <span class="govuk-warning-text__assistive">Warning</span>
                    You do not need to fill out this form if your organisation has less than 250 employees.
                </strong>
            </div>
        }
        <ol class="task-list">
            @Html.Partial("Sections/OrganisationName", Model)

            @if (Model.Report.Sections != null)
            {
                foreach (var sectionItem in Model.Report.Sections)
                {
                    @Html.Partial("Sections/" + sectionItem.Id, sectionItem)
                }
            }

            @Html.Partial("Sections/Review", Model)

        </ol>
    </div>
    <div class="govuk-grid-column-one-third">
        @Html.Partial("Sections/History")
    </div>
</div>
