@model SFA.DAS.PSRService.Web.ViewModels.IsLocalAuthorityViewModel

@{
    ViewData["Title"] = "Public sector reporting";
    ViewBag.GaData.Vpv = "/public-sector-reporting/page-islocalauthority";
    ViewBag.ZenDeskLabel = "reporting-islocalauthority";
}
<a class="link-back" asp-controller="Report" asp-action="Create">Back</a>
<div class="grid-row">
    <div class="column-two-thirds">
        <h1 class="heading-medium">Are you a local authority?</h1>
        <form method="post" asp-action="PostIsLocalAuthority">
            <div class="form-group  @(ViewData.ModelState.IsValid ? "":"form-group-error")">
                <fieldset class="inline">
                    <legend class="visually-hidden">Are you a local authority?</legend>
                    @if (!ViewData.ModelState.IsValid && ViewData.ModelState.ContainsKey("confirm-yes"))
                    {
                    <p id="confirm-error" class="error-message">
                        <span class="visually-hidden">Error:</span> @ViewData.ModelState["confirm-yes"].Errors.First().ErrorMessage
                    </p>
                    }
                    <div class="multiple-choice">
                        <input id="islocalauthority-action-yes" type="radio" name="isLocalAuthority" value="True" @(Model.IsLocalAuthority == true ? "checked" : "")>
                        <label for="islocalauthority-action-yes">Yes</label>
                    </div>
                    <div class="multiple-choice">
                        <input id="islocalauthority-action-no" type="radio" name="isLocalAuthority" value="False" @(Model.IsLocalAuthority == false ? "checked" : "")>
                        <label for="islocalauthority-action-no">No</label>
                    </div>
                </fieldset>
            </div>
            <div class="form-group">
                <input id="SubmitSelectOptionForm" class="button" type="submit" value="Continue">
            </div>
        </form>
    </div>
</div>