@model SFA.DAS.PSRService.Web.ViewModels.ReportListViewModel

@{
    ViewBag.Title = "Submitted reports";
    Layout = "_Layout";
    ViewBag.GaData.Vpv = "/public-sector-reporting/report/page-list";
    ViewBag.ZenDeskLabel = "reporting-submitted-reports";
}

<div class="grid-row">
    <div class="column-two-thirds">
        <a class="link-back" asp-controller="Home" asp-action="Index">Back</a>
        <h1 class="heading-xlarge">Submitted reports</h1>
    </div>


    @if (Model.SubmittedReports.Count() > 0)
    {
    <div class="column-two-thirds">
        <p>Choose the report you wish to view</p>
    </div>
    <div id="submitted-report-list" class="column-full">
        <table>
            <thead>
                <tr>
                <th scope="col">Organisation name</th>
                <th scope="col">Reporting period</th>
                <th class="numeric" scope="col"></th>
                </tr>
            </thead>
            <tbody>
            @foreach (var result in Model.SubmittedReports)
            {
                <tr>
                    <th scope="row">@result.OrganisationName</th>
                    <td>@Model.Periods[result.ReportingPeriod].FullString</td>
                    <td class="link-right"><a href="../Report/Summary/@result.ReportingPeriod">View</a></td>
                </tr>
            }
            </tbody>
        </table>
    </div>
    }

    @if (Model.SubmittedReports.Count() == 0)
    {
    <div  id="submitted-report-list-display-message" class="column-two-thirds">
        <p>There are currently no submitted reports to show</p>
    </div>
    }
</div>