@model SFA.DAS.PSRService.Web.ViewModels.ReportListViewModel

@{
    ViewBag.Title = "Sumbitted Results";
    Layout = "_Layout";
}

<div class="grid-row">
    <div class="column-two-thirds">
        <a class="link-back" asp-controller="Home" asp-action="Index">Back</a>
        <h1 class="heading-xlarge">Submitted Reports</h1>
    </div>


    @if (Model.SubmittedReports.Count() > 0)
    {
    <div class="column-full">
        <table>
            <thead>
                <tr>
                <th scope="col">Employer ID</th>
                <th scope="col">Organisation name</th>
                <th class="numeric" scope="col"></th>
                </tr>
            </thead>
            <tbody>
            @foreach (var result in Model.SubmittedReports)
            {
                <tr>
                    <th scope="row">@result.EmployerId</th>
                    <td>@result.OrganisationName</td>
                    <td class="link-right"><a href="#">View</a></td>
                </tr>
            }
            </tbody>
        </table>
    </div>
    }

    @if (Model.SubmittedReports.Count() == 0)
    {
    <div class="column-two-thirds">
        <p>There are currently no submitted reports to show</p>
    </div>
    }
</div>