@model SFA.DAS.PSRService.Web.ViewModels.ReportListViewModel

@{
    ViewBag.Title = "Sumbitted Results";
    Layout = "_Layout";
}

<main id="content" role="main">
    <a class="link-back" asp-controller="Home" asp-action="Index">Back</a>

   
            <h1>Submitted Reports</h1>
            <p>Select the standard that you would like to record an assessment for.</p>

            @foreach (var result in Model.SubmittedReports)
            {
                <div class="grid-row">
                    <div class="column-two-thirds">
                        @result.EmployerId
                        @result.OrganisationName
                    </div>
                    <div class="column-one-third"><a href="#">View</a></div>
                </div>
                <hr/>

            }

   
    </main>