@model SFA.DAS.PSRService.Web.ViewModels.OrganisationViewModel

@{
    ViewData["Title"] = "Your organisation";
    ViewBag.GaData.Vpv = "/public-sector-reporting/report/page-your-organisation";
    ViewBag.ZenDeskLabel = "reporting-your-organsation";
}

@section breadcrumb {
    <a class="govuk-back-link" asp-controller="Report" asp-action="Edit">Back</a>
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">
            Your organisation
        </h1>
        <form id="myFormId" asp-action="Change">
            <div class="govuk-form-group">
                <label class="govuk-label govuk-label--m" asp-for="Report.OrganisationName">
                    What is the name of the organisation you would like to report on?
                </label>
                <input type="text" class="govuk-input govuk-!-width-three-quarters" asp-for="Report.OrganisationName" value="@Model.Report.OrganisationName" />
            </div>
            <input class="govuk-button" type="submit" value="Continue">
        </form>
    </div>
</div>