@model SFA.DAS.PSRService.Web.ViewModels.ReportViewModel

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<div class="grid-row">
    <div class="column-two-thirds">
        <h1 class="heading-xlarge">Review details</h1>
        <p class="">Check or amend your information before you continue </p>


        @if (Model.Report.Sections != null)
    {
        foreach (var sectionItem in Model.Report.Sections)
        {


            @Html.Partial("Question/" + sectionItem.Id, sectionItem)

    }
}

        @Html.Partial("Question/Factors")




        <form action="complete">
            <div style="margin-top:20px;"><input class="button" id="paymentPlan" type="submit" value="Submit"></div>
        </form>
    </div>
</div>

<button type="submit">SUBMIT ></button>