@model bool?

@{
    ViewData["Title"] = "Your organisation";
    ViewBag.GaData.Vpv = "/public-sector-reporting/report/page-your-totalemployees";
    ViewBag.ZenDeskLabel = "reporting-your-totalemployees";
}
<div class="grid-row">
    <div class="column-two-thirds">
        <a class="link-back" asp-controller="Report" asp-action="Edit">Back</a>
        <h1 class="heading-large">
            Total Number Of Employees
        </h1>

        <form id="myFormId" asp-action="PostTotalEmployees">
            <fieldset class="inline">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                    Did your organisation employ more than 250 people on 31 March @ViewBag.CurrentPeriod.StartYear.AsFourDigitString ?
                </legend>
                @if (!ViewData.ModelState.IsValid && ViewData.ModelState.ContainsKey("confirm-yes"))
                {
                    <span id="confirm-error" class="error-message">
                        <span class="visually-hidden">Error:</span> @ViewData.ModelState["confirm-yes"].Errors.First().ErrorMessage
                    </span>
                }
                <div class="form-group">
                    <div class="multiple-choice">
                        <input id="totalemployees-action-yes" type="radio" name="hasMinimumEmployeeHeadcount" value="true" @(Model == true ? "checked" : "")>
                        <label for="totalemployees-action-yes">Yes</label>
                    </div>
                    <div class="multiple-choice">
                        <input id="totalemployees-action-no" type="radio" name="hasMinimumEmployeeHeadcount" value="false" @(Model == false ? "checked" : "")>
                        <label for="totalemployees-action-no">No</label>
                    </div>
                </div>
                <div class="form-group">
                    <input id="SubmitSelectOptionForm" class="button" type="submit" value="Continue">
                </div>
            </fieldset>
        </form>
    </div>
</div>