@model SFA.DAS.PSRService.Web.ViewModels.SectionViewModel

<div class="column-full">
    <h1 class="heading-large">
       @Model.CurrentSection.Title
    </h1>
    <form id="myFormId">
        <fieldset>
            <div class="form-group">
                <textarea class="form-control form-control-3-4" name="textarea" id="textarea" rows="8"></textarea>
            </div>
        </fieldset>
    </form>
</div>