@using SFA.DAS.PSRService.Domain.Enums
@model SFA.DAS.PSRService.Web.ViewModels.SectionViewModel

<h1 class="heading-xlarge">
    @* @Model.CurrentSection.Title *@
    Full-time equivalents
</h1>
<p>Definition of full-time equivalents</p>
<fieldset>
    <div class="form-group">
        <label class="form-label-bold" for="full-time-equivalents">
            Full-time equivalents (optional)
        </label>
        <input type="hidden" name="Section.Questions[0].Id" value="@Model.Questions.ToArray()[0].Id" />
        <input type="text" class="form-control" asp-for="@Model.Questions.ToArray()[0].Answer" name="Section.Questions[0].Answer" value="@Model.Questions.ToArray()[0].Answer"/>

    </div>
</fieldset>

