@model SFA.DAS.PSRService.Web.ViewModels.SectionViewModel

@{
    ViewData["Title"] = Model.CurrentSection.Title;
}

<div class="grid-row">
    <div class="column-two-thirds">
        <a class="link-back" asp-controller="Report" asp-action="Edit">Back</a>
        <form class="questionForm" method="post" asp-action="@Model.CurrentSection.Id">
            <input type="hidden" name="section.ReportingPeriod" value="@Model.Report.Period.PeriodString" />
            <input type="hidden" name="section.Id" value="@Model.CurrentSection.Id" />

            <!-- Validation summary-->
            <div asp-validation-summary="All" class="error-summary" role="alert" aria-labelledby="error-summary-heading" tabindex="-1">
                <h2 class="heading-medium error-summary-heading" id="error-summary-heading">
                    Please fix these errors
                </h2>
            </div>

            @Html.Partial(Model.CurrentSection.Id, Model)

            <button type="submit" class="button">Continue</button>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}