@model string

@{
    ViewData["Title"] = "Public sector reporting";
}

<div class="grid-row">
    <div class="column-two-thirds">
        <h1 class="heading-xlarge">Section Title</h1>
        <h2 class="heading-xlarge">Question Title</h2>
        <div style="white-space: pre">@Model</div>
        <button type="submit">Continue</button>
    </div>
</div>