<form id="myFormId">
    <div class="form-group">
        <h1>
            <label for="actions-taken">
                <span class="heading-large">Outline any actions you have taken to help you progress towards meeting the public sector target</span>
            </label>
        </h1>
    </div>
    <div class="form-group">
        <textarea class="form-control form-control-full" name="actions-taken" id="actions-taken" rows="8"></textarea>
    </div>
</form>