@using SFA.DAS.PSRService.Domain.Enums
@model SFA.DAS.PSRService.Domain.Entities.Section

@{
    ViewData["Title"] = "Public sector reporting";
}

<form id="myFormId">
    <h1 class="heading-xlarge">
        @Model.Title
        @* Your employees *@
    </h1>
    <div class="form-group">
        <details>
            <summary>
                <span class="summary">Who counts as an employee</span>
            </summary>
            <div class="panel panel-border-narrow">
                <ul class="list-bullet">
                    <li>people who have a contract of employment with your organisation</li>
                    <li>workers and agency workers (those with a contract to do work or provide services)</li>
                    <li>some self-employed people (where they must personally perform the work)</li>
                </ul>
            </div>
        </details>
    </div>
    <fieldset>
        <div class="form-group">
            <label class="form-label-bold" for="employees-england-last-march">
                Number of employees who were working in England on 31 March 2017
            </label>
            <input class="form-control form-control-1-3" id="employees-england-last-march" type="text" value="">
        </div>
    </fieldset>
    <fieldset>
        <div class="form-group">
            <label class="form-label-bold" for="employees-england-this-march">
                Number of employees who were working in England on 31 March 2018
            </label>
            <input class="form-control form-control-1-3" id="employees-england-this-march" type="text" value="">
        </div>
    
    </fieldset>
    <fieldset>
        <div class="form-group">
            <label class="form-label-bold" for="new-employees-within-year">
                Number of new employees who started working for you in England between 1 April 2017 and 31 March 2018
            </label>
            <input class="form-control form-control-1-3" id="new-employees-within-year" type="text" value="">
        </div>
    </fieldset>
</form>
