@using SFA.DAS.PSRService.Domain.Enums
@model SFA.DAS.PSRService.Domain.Entities.Section

@{
    ViewData["Title"] = "Public sector reporting";
}

<form id="myFormId">
    <h1 class="heading-xlarge">
        @Model.Title
    </h1>
    <div class="form-group">
        <details>
            <summary><span class="summary">Who counts as an apprentice</span></summary>
            <div class="panel panel-border-narrow">
                <ul class="list-bullet">
                    <li>????</li>
                    <li>????</li>
                    <li>????</li>
                </ul>
            </div>
        </details>
    </div>
    <fieldset>
        <div class="form-group">
            <label class="form-label-bold" for="apprentices-england-last-march">
                Number of apprentices who were working in England on 31 March 2017
            </label>
            <input class="form-control form-control-1-3" id="apprentices-england-last-march" type="text" value="">
        </div>
    </fieldset>
    <fieldset>
        <div class="form-group">
            <label class="form-label-bold" for="apprentices-england-last-march">
                Number of apprentices who were working in England on 31 March 2017
            </label>
            <input class="form-control form-control-1-3" id="apprentices-england-last-march" type="text" value="">
        </div>
    </fieldset>
    <fieldset>
        <div class="form-group">
            <label class="form-label-bold" for="new-apprentices-within-year">
                Number of apprentices who were working in England on 31 March 2017
            </label>
            <input class="form-control form-control-1-3" id="new-apprentices-within-year" type="text" value="">
        </div>
    </fieldset>
</form>
