@using Microsoft.AspNetCore.Routing
@using SFA.DAS.PSRService.Domain.Enums
@using SFA.DAS.PSRService.Web.ViewModels
@model SFA.DAS.PSRService.Domain.Entities.Section

@{
    ViewData["Title"] = "Public sector reporting";
    var employerId = Context.GetRouteData().Values["employerAccountId"];
}

<li>
    <h2 class="task-list-section">
        <span class="task-list-section-number">3. </span> @Model.Title
    </h2>
    <ul class="task-list-items">
        @if (Model.SubSections != null)
        {
            foreach (var subSection in Model.SubSections)
            {
                <li class="task-list-item">
                    <a class="task-name" href="./Question/@subSection.Id" aria-describedby="@($"{subSection.Id}-complete")">@subSection.SummaryText</a>
                    @Html.Partial("CompletionStatus",new CompletionStatusViewModel(){CompletionStatus = subSection.CompletionStatus, Id = $"{subSection.Id}-complete"})
                </li>   
            }
        }
    </ul>
</li>
