@{
    ViewBag.GaData.Vpv = "/public-sector-reporting/report/sections/page-history";
}

<aside class="related">
    <h2 class="govuk-heading-m">View history</h2>
    <ul>
        <li>
            <a asp-controller="Report" asp-action="History">
                View history of answers
            </a>
        </li>
    </ul>
</aside>