@model SFA.DAS.PSRService.Web.ViewModels.ReportViewModel

<li>
    <h2 class="task-list-section">
        <span class="task-list-section-number">1. </span> Organisation name
    </h2>

    <ul class="task-list-items">
        <li class="task-list-item">
            @*<a class="task-name" href="#" aria-describedby="organisation-name-completed">
                Your organisation’s name
            </a>*@
            <a class="task-name" href="./Report/OrganisationName" aria-describedby="organisation-name-completed">Your organisation's name</a>
            @if (!string.IsNullOrWhiteSpace(Model.Report.OrganisationName))
            {
                <span class="task-completed">COMPLETE</span>
            }
        </li>
    </ul>
</li>
