

<li>
    <h2 class="heading-large">
        Organisation name
    </h2>

    <ul class="task-list-items">
        <li class="task-list-item">
            <a class="" href="#" aria-describedby="eligibility-completed">
                Your organisation’s name
            </a>
        </li>
    </ul>

</li>