<li>
    <h2 class="task-list-section">
        <span class="task-list-section-number">1. </span> Organisation name
    </h2>

    <ul class="task-list-items">
        <li class="task-list-item">
            <a class="task-name" href="#" aria-describedby="organisation-name-completed">
                Your organisation’s name
            </a>
            <strong class="task-completed" id="organisation-name-completed">Completed</strong>
        </li>
    </ul>
</li>