@model SFA.DAS.PSRService.Web.ViewModels.ReportViewModel
@{
    ViewBag.GaData.Vpv = "/public-sector-reporting/report/sections/page-review";
    var serialNo = !string.IsNullOrEmpty(Model.Report.SerialNo) ? @Model.Report.SerialNo : "4";
}

<li>
    <h2 class="das-task-list__section">
        <span class="das-task-list__section-number">@serialNo. </span> Review answers
    </h2>
    <ul class="das-task-list__items">
        <li class="das-task-list__item">
            <a class="govuk-link" asp-controller="Report" asp-action="Summary" aria-describedby="eligibility-completed">
                @(Model.UserCanSubmitReports ? "Review and submit answers" : "Review answers")
            </a>
        </li>
    </ul>
</li>