@model SFA.DAS.PSRService.Web.ViewModels.ReportViewModel
@{
    ViewBag.GaData.Vpv = "/public-sector-reporting/report/sections/page-review";
    var SerialNo = (!string.IsNullOrEmpty(@Model.Report.SerialNo)) ? @Model.Report.SerialNo : "3";
}

<li>
    <h2 class="task-list-section">
        <span class="task-list-section-number">@SerialNo. </span> Review answers
    </h2>
    <ul class="task-list-items">
        <li class="task-list-item">
            <a class="task-name" asp-controller="Report" asp-action="Summary" aria-describedby="eligibility-completed">
                @(Model.UserCanSubmitReports ? "Review and submit answers" : "Review answers")
            </a>
        </li>
    </ul>
</li>