@model SFA.DAS.PSRService.Web.ViewModels.ReportViewModel
@{
    ViewBag.Vpv = "report/sections/page-review";
}

<li>
    <h2 class="task-list-section">
        <span class="task-list-section-number">4. </span> Review answers
    </h2>
    <ul class="task-list-items">
        <li class="task-list-item">
            <a class="task-name" asp-controller="Report" asp-action="Summary" aria-describedby="eligibility-completed">
                @(Model.UserCanSubmitReports ? "Review and submit answers" : "Review answers")
            </a>
        </li>
    </ul>
</li>