<li>
    <h2 class="task-list-section">
        <span class="task-list-section-number">4. </span> Review answers
    </h2>
    <ul class="task-list-items">
        <li class="task-list-item">
            <a class="" href="#" aria-describedby="eligibility-completed">
                Review and submit answers
            </a>
        </li>
    </ul>
</li>